<%= form_with(model: water) do |form| %>
  <% if water.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(water.errors.count, "error") %> prohibited this water from being saved:</h2>

      <ul>
        <% water.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
