<p style="color: green"><%= notice %></p>

<h1>Waters</h1>

<div id="waters">
  <% @waters.each do |water| %>
    <%= render water %>
    <p>
      <%= link_to "Show this water", water %>
    </p>
  <% end %>
</div>

<%= link_to "New water", new_water_path %>
